* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


.right-container {
  min-height: 400px;
  max-height: max-content;
  height: auto;

  /* mod */
  /* width: 800px; */

  width: 66.67%; /* 800 / 1200 * 100 */
  margin-left: 4.17%; /* 50 / 1200 * 100 */


  margin-top: 40px;
  /* background-color: aqua; */
  /* background-color: white; */
  /* margin-left: 50px; */
  border-radius: 15px;
}

/**/
.info-container {
  min-height: 250px;
  height: auto;
  width: 100%;
  /* background-color: rgb(104, 77, 77); */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;

  /* mod */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.info-name {
  /* mod */
  min-height: 80px;
  height: auto;
  /* background-color: bisque; */
  display: flex;

}




/* .profile-pic-mv {
  background-color: bisque;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

} */
.info-profile-mv {
  /* mod */
  min-height: 80px;
  height: auto;
  /* background-color: rgb(208, 18, 97); */
  display: none;
  
  padding-bottom: 10px;

}
.pic-div-mv {
  /* background-color: rgb(65, 192, 133); */
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-mv {
  padding: 1px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 80px;
  font-size: 16px;
  position: absolute;
  bottom: 5px;
  right: 70px;
  border-style: none;
  background-color: palevioletred;
  color: white;
}

.info-name-mv {
  /* mod */
  min-height: 100px;
  height: auto;
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);

}

.info-name1-mv {
  /* mod */
  min-height: 100px;
  height: auto;
  /* background-color: blue; */

  width: 100%;
}

.info-date-mv {
  /* mod */
  min-height: 50px;
  height: auto;
  /* background-color: cadetblue; */
  width: 100%;

  display: flex;
  justify-content: start;
  /* background-color: blanchedalmond; */
}

.name-div-mv {
  display: flex;
  /* background-color: rgb(71, 216, 216); */
  flex-wrap: wrap;

}

.name-div-mv h1 {
  font-size: 28px;
  font-weight: 900;
  flex-wrap: wrap;

}

.fa-pencil {
  font-size: 20px;
  margin-top: 13px;
  margin-left: 2px;

}

.detial-div-name-mv p {
  font-size: 12px;
  font-weight: 500;
  color: #555555;

}

.info-date-mv p {
  font-size: 13px;
  margin-top: 15px;
  color: #555555;
}

.update-p-mv {
  color: #555555;
}

.date-mv {
  color: #555555;
}



.info-name1 {
  /* mod */
  min-height: 80px;
  height: auto;
  /* background-color: blue; */

  width: 60%;
}

.info-date {
  /* mod */
  min-height: 80px;
  height: auto;
  /* background-color: cadetblue; */
  width: 40%;

  display: flex;
  justify-content: end;
  /* background-color: blanchedalmond; */
}

.name-div {
  display: flex;
  /* background-color: rgb(71, 216, 216); */
  flex-wrap: wrap;

}

.name-div h1 {
  font-size: 28px;
  font-weight: 900;
  flex-wrap: wrap;

}

.fa-pencil {
  font-size: 20px;
  margin-top: 13px;
  margin-left: 2px;
  color: black;

}

.detial-div-name p {
  font-size: 12px;
  font-weight: 500;
  color: #555555;
}

.info-date p {
  font-size: 13px;
  margin-top: 15px;
}

.update-p {
  color: #555555;
}

.date {
  color: #555555;
}

.detail-main {
  min-height: 160px;
  height: auto;
  /* background-color: blueviolet; */
  display: flex;
}

/* mod */
.detail-1 {
  min-height: 80px;
  height: auto;
  /* background-color: aquamarine; */
  width: 50%;
  display: flex;
}

/* mod */
.gender-box {
  /* background-color: darkgoldenrod;  */
  height: 160px;
  width: 40%;


  padding-top: 10px;

}

/* mod */
.gender-box-ul {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 140px;
  width: 100%;
  border-right: 2px solid rgb(168, 158, 158);
  gap: 8px;
  margin-top: 5px;
}


.gender-box-person {
  display: flex;
  color: #555555;
}

.gender-box-date {
  display: flex;
  color: #555555;
}

.gender-box-date p a{
  color: #555555;
}

.gender-box-place {
  display: flex;
  width: 100%;
  margin-top: 2px;

}

.gender-box-place a{
  color: #555555;
}


.fa-user,
.fa-calendar-week,
.fa-location-dot {
  margin-right: 8px;
  margin-top: 3px;
  /* color: #555555; */
}

.fa-location-dot {
  font-size: 18px;
  /* color: #555555; */
}

.gender-box-place p {
  font-size: 14px;
  color: #555555;


}

.open-modal-btn{
  color: #555555;
}
.gender-box-date p {
  margin-top: 2px;
  font-size: 14px;
  color: #555555;
}

.phone-box {
  /* background-color: cornflowerblue; */
  height: 160px;
  padding-right: 10px;
  padding-top: 10px;
  width: 60%;


}

/* mod */
.phone-box-ul {
  /* background-color: crimson;  */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 140px;
  height: auto;
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
}

/* mod */
.phone-box-ul li {
  margin-bottom: 2px;
  color: #555555;
}

.phone-box-person {
  display: flex;
}

.phone-box-date {
  display: flex;
  margin-top: 2px;

}

/* mod */
.email {
  flex-wrap: wrap;
}

.email-div {
  flex-wrap: wrap;
}


.phone-box-place {
  display: flex;
  width: 100%;
  margin-bottom: 10px;


}

.fa-phone {
  margin-right: 8px;
  margin-top: 3px;
  color: #555555;
}

.fa-envelope {
  margin-right: 8px;
  margin-top: 5px;
  
}

.fa-suitcase {
  color: #555555;
  margin-right: 8px;
  font-size: 18px;
}

.phone-box-place p {
  font-size: 14px;


}

.phone-box-date p {
  margin-top: 2px;
  font-size: 14px;
}


.uploadfile-div {
  height: 160px;

  /* mod */
  padding-top: 20px;
  padding-right: 0px;

  /* background-color: rgb(30, 210, 171);  */

  margin-left: 45px;
  display: flex;
  justify-content: end;


  width: 50%;

}

/* mod   */
.color-div {
  height: 120px;
  background-color: #FFBD11;
  /* background-color: #e6c466f6; */
  display: flex;
  border-radius: 15px;
  width: 90%;


}

.resume {
  height: 120px;
  width: 100%;
  /* background-color: rgb(200, 255, 0); */

}

.resume-ul li {
  margin-top: 20px;
  margin-left: 10px;
}

.resume-a1 {
  display: flex;
  margin-top: 5px;
}

.resume-a2 {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;

}

.add-resume {
  /*display: flex;*/
  font-size: 16px;
  margin-left: 10px;
}

.fa-file {
  margin-right: 10px;
  margin-top: 2px;
  font-size: 20px;
}

.resume-a1 .fa-regular {
  font-size: 20px;
  margin-top: 2px;
}









/* mod */

.upload-file {
  height: 120px;
  width: 50%;
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 28px;
}

/* mod */
.upload-btn {
  width: 40%;
  margin-right: 10px;
  border: none;
  border-radius: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  background-color: darkblue;
  color: white;

}